<ul class="www-component-anchors list-reset m0 p0 px1 caps">
  <li class="clearfix mb3" style="background-image: linear-gradient(30deg,#4a8b12 0,#07126e);color:#fff;border:10px;justify:center;width:100%;"><a href="/cat/transfer" class="www-component-anchor text-decoration-none left" style="margin:5px;" option="body">Brick and Cobb</a></li>
  <li class="clearfix mb3"><a href="/tag/mud-bricks" class="www-component-anchor text-decoration-none left" option="body">Mud Bricks</a></li>
  <li class="clearfix mb3"><a href="/tag/adobe-brick" class="www-component-anchor text-decoration-none left" option="body">Adobe BricK</a></li>
  <li class="clearfix mb3"><a href="/tag/cobb-mixtures" class="www-component-anchor text-decoration-none left" option="body">Cobb Mixtures</a></li>
  <li class="clearfix mb3"><a href="/cat/hempcrete" class="www-component-anchor text-decoration-none left" option="body">Hempcrete</a></li>
  <li class="clearfix mb3"><a href="/cat/papercrete" class="www-component-anchor text-decoration-none left" option="body">Papercrete</a></li>
  <li class="clearfix mb3"><a href="/tag/structural-inslating-panels" class="www-component-anchor text-decoration-none left" option="body">Structural Insulating Panels</a></li>
  <li class="clearfix mb3"><a href="/tag/low-voc" class="www-component-anchor text-decoration-none left" option="body">Low VOC Building</a></li>
</ul>

