<!-- .subcats ["rooftop water harvesting", "ground level catchment", "subsurface dam", "surface water abstraction", "spring water captation", "hand dug well", "drilled well"] -->
            <aside class="www-components-sec-nav col-2 xs-hide sm-hide relative">
                <ul class="www-component-anchors list-reset m0 pt0 pb3 px1 caps">
                    <li class="clearfix mb3"><a href="/cat/water-sources-rooftop" class="www-component-anchor text-decoration-none left" option="">Rooftop Catchment</a></li>
                    <li class="clearfix mb3"><a href="/cat/water-sources-ground-level-catchment" class="www-component-anchor text-decoration-none left" option="">Ground Level Catchment</a></li>
                    <li class="clearfix mb3"><a href="/cat/water-sources-subsurface-dam" class="www-component-anchor text-decoration-none left" option="">Subsurface Dam</a></li>
                    <li class="clearfix mb3"><a href="/cat/water-sources-subsurface-water-abstraction" class="www-component-anchor text-decoration-none left" option="">Surface Water Abstraction</a></li>
                    <li class="clearfix mb3"><a href="/cat/water-sources-spring-water-captation" class="www-component-anchor text-decoration-none left" option="">Spring Water Captation</a></li>
                    <li class="clearfix mb3"><a href="/cat/water-sources-hand-dug-well" class="www-component-anchor text-decoration-none left" option="">Hand Dug Well</a></li>
                    <li class="clearfix mb3"><a href="/cat/water-sources-drilled-well" class="www-component-anchor text-decoration-none left" option="">Drilled Well</a></li>
                </ul>
            </aside>
