<ul class="www-component-anchors list-reset m0 p0 px1 caps">
  <li class="clearfix mb3" style="background-image: linear-gradient(30deg,#4a8b12 0,#07126e);color:#fff;border:10px;justify:center;width:100%;"><a href="/cat/msw-disposal" class="www-component-anchor text-decoration-none left" style="margin:5px;" option="body">Municipal Solid Waste Disposal</a></li>
  <li class="clearfix mb3"><a href="/cat/mws-disposal_no-disposal" class="www-component-anchor text-decoration-none left" option="body">no disposal</a></li>
  <li class="clearfix mb3"><a href="/cat/msw-disposal_waste-discarded-at-source" class="www-component-anchor text-decoration-none left" option="body">waste discarded at source</a></li>
  <li class="clearfix mb3"><a href="/cat/msw-disposal_open-burning" class="www-component-anchor text-decoration-none left" option="body">open burning</a></li>
  <li class="clearfix mb3"><a href="/cat/msw-disposal_open-dumps" class="www-component-anchor text-decoration-none left" option="body">open dumps</a></li>
  <li class="clearfix mb3"><a href="/cat/msw-disposal_controlled-dumps" class="www-component-anchor text-decoration-none left" option="body">controlled dumps</a></li>
  <li class="clearfix mb3"><a href="/cat/msw-disposal_sanitary-landfilling" class="www-component-anchor text-decoration-none left" option="body">sanitary landfilling</a></li>
  <li class="clearfix mb3"><a href="/cat/msw-disposal_incineration" class="www-component-anchor text-decoration-none left" option="body">incineration</a></li>
</ul>
