<ul class="www-component-anchors list-reset m0 p0 px1 caps">
  <li class="clearfix mb3" style="background-image: linear-gradient(30deg,#4a8b12 0,#07126e);color:#fff;border:10px;justify:center;width:100%;"><a href="/cat/municipal-solid-waste-storage" class="www-component-anchor text-decoration-none left" style="margin:5px;" option="body">Municipal Solid Waste Storage</a></li>
  <li class="clearfix mb3"><a href="/cat/municipal-solid-waste-storage-no-storage-systems/" class="www-component-anchor text-decoration-none left" option="body">no storage</a></li>
  <li class="clearfix mb3"><a href="/cat/municipal-solid-waste-storage-household-bin" class="www-component-anchor text-decoration-none left" option="body">household bin</a></li>
  <li class="clearfix mb3"><a href="/cat/municipal-solid-waste-storage-communal-bin" class="www-component-anchor text-decoration-none left" option="body">communal bin</a></li>
</ul>
