<ul class="m0 p0 px1 caps" >
  <li class="clearfix mb3" style="background-image: linear-gradient(30deg,#4a8b12 0,#07126e);color:#fff;border:10px;justify:center;width:100%;"><a href="/cat/municipal-solid-waste-storage" class="www-component-anchor text-decoration-none left" style="margin:5px;" option="body">Municipal Solid Waste Storage</a></li>
  <li class="clearfix mb3"><a href="/cat/municipal-solid-waste-storage_no-storage-systems" class="www-component-anchor text-decoration-none left" option="body">no storage</a></li>
  <li class="clearfix mb3"><a href="/cat/municipal-solid-waste-storage_household-bin" class="www-component-anchor text-decoration-none left" option="body">household bin</a></li>
  <li class="clearfix mb3"><a href="/cat/municipal-solid-waste-storage_communal-bin" class="www-component-anchor text-decoration-none left" option="body">communal bin</a></li>
</ul>
<ul class="m0 p0 px1 caps">
  <li class="clearfix mb3" style="background-image: linear-gradient(30deg,#4a8b12 0,#07126e);color:#fff;border:10px;justify:center;width:100%;"><a href="/cat/msw-transfer" class="www-component-anchor text-decoration-none left" style="margin:5px;" option="body">Municipal Solid Waste Transfer</a></li>
  <li class="clearfix mb3"><a href="/cat/mws-transfer_no-transfer-systems" class="www-component-anchor text-decoration-none left" option="body">no transfer</a></li>
  <li class="clearfix mb3"><a href="/cat/msw-transfer_human-power" class="www-component-anchor text-decoration-none left" option="body">human power</a></li>
  <li class="clearfix mb3"><a href="/cat/msw-transfer_animal-power" class="www-component-anchor text-decoration-none left" option="body">animal power</a></li>
  <li class="clearfix mb3"><a href="/cat/msw-transfer_non-compactor-trucks" class="www-component-anchor text-decoration-none left" option="body">non-compactor trucks</a></li>
  <li class="clearfix mb3"><a href="/cat/msw-transfer_compactor-trucks" class="www-component-anchor text-decoration-none left" option="body">compactor trucks</a></li>
</ul>
<ul class="m0 p0 px1 caps">
  <li class="clearfix mb3" style="background-image: linear-gradient(30deg,#4a8b12 0,#07126e);color:#fff;border:10px;justify:center;width:100%;"><a href="/cat/msw-disposal" class="www-component-anchor text-decoration-none left" style="margin:5px;" option="body">Municipal Solid Waste Disposal</a></li>
  <li class="clearfix mb3"><a href="/cat/mws-disposal_no-disposal" class="www-component-anchor text-decoration-none left" option="body">no disposal</a></li>
  <li class="clearfix mb3"><a href="/cat/msw-disposal_waste-discarded-at-source" class="www-component-anchor text-decoration-none left" option="body">waste discarded at source</a></li>
  <li class="clearfix mb3"><a href="/cat/msw-disposal_open-burning" class="www-component-anchor text-decoration-none left" option="body">open burning</a></li>
  <li class="clearfix mb3"><a href="/cat/msw-disposal_open-dumps" class="www-component-anchor text-decoration-none left" option="body">open dumps</a></li>
  <li class="clearfix mb3"><a href="/cat/msw-disposal_controlled-dumps" class="www-component-anchor text-decoration-none left" option="body">controlled dumps</a></li>
  <li class="clearfix mb3"><a href="/cat/msw-disposal_sanitary-landfilling" class="www-component-anchor text-decoration-none left" option="body">sanitary landfilling</a></li>
  <li class="clearfix mb3"><a href="/cat/msw-disposal_incineration" class="www-component-anchor text-decoration-none left" option="body">incineration</a></li>
</ul>
<ul class="m0 p0 px1 caps">
  <li class="clearfix mb3" style="background-image: linear-gradient(30deg,#4a8b12 0,#07126e);color:#fff;border:10px;justify:center;width:100%;"><a href="/cat/msw-recovery" class="www-component-anchor text-decoration-none left" style="margin:5px;" option="body">Municipal Solid Waste Recovery</a></li>
  <li class="clearfix mb3"><a href="/cat/mws-recovery_no-recovery" class="www-component-anchor text-decoration-none left" option="body">no recovery</a></li>
  <li class="clearfix mb3"><a href="/cat/msw-recovery_composting" class="www-component-anchor text-decoration-none left" option="body">composting</a></li>
  <li class="clearfix mb3"><a href="/cat/msw-recovery_refuse-derived-fuel" class="www-component-anchor text-decoration-none left" option="body">refuse derived fuel</a></li>
  <li class="clearfix mb3"><a href="/cat/msw-recovery_pyrolysis" class="www-component-anchor text-decoration-none left" option="body">pyrolysis</a></li>
  <li class="clearfix mb3"><a href="/cat/msw-recovery_recycling-reuse" class="www-component-anchor text-decoration-none left" option="body">recycling /reuse</a></li>
</ul>
