<ul class="www-component-anchors list-reset m0 p0 px1 caps">
  <li class="clearfix mb3" style="background-image: linear-gradient(30deg,#4a8b12 0,#07126e);color:#fff;border:10px;justify:center;width:100%;"><a href="/cat/procurement" class="www-component-anchor text-decoration-none left" style="margin:5px;" option="body">Drinking water procurement methods</a></li>
  <li class="clearfix mb3"><a href="/cat/bucket-procurement" class="www-component-anchor text-decoration-none left" option="body">bucket</a></li>
  <li class="clearfix mb3"><a href="/cat/handpump" class="www-component-anchor text-decoration-none left" option="body">handpump</a></li>
  <li class="clearfix mb3"><a href="/cat/handpump-deep-well" class="www-component-anchor text-decoration-none left" option="body">handpump - deep well</a></li>
  <li class="clearfix mb3"><a href="/cat/rope-and-bucket-with-windlass" class="www-component-anchor text-decoration-none left" option="body">rope and bucket /w windlass</a></li>
  <li class="clearfix mb3"><a href="/cat/motorized-pump" class="www-component-anchor text-decoration-none left" option="body">motorized pump</a></li>
  <li class="clearfix mb3"><a href="/cat/standpump" class="www-component-anchor text-decoration-none left" option="body">standpump</a></li>
</ul>
