<ul class="www-component-anchors list-reset m0 p0 px1 caps">
  <li class="clearfix mb3" style="background-image: linear-gradient(30deg,#4a8b12 0,#07126e);color:#fff;border:10px;justify:center;width:100%;"><a href="/cat/transfer" class="www-component-anchor text-decoration-none left" style="margin:5px;" option="body">Building Materials</a></li>
  <li class="clearfix mb3"><a href="/tag/barn-wood" class="www-component-anchor text-decoration-none left" option="body">'Barn Wood' Reuse</a></li>
  <li class="clearfix mb3"><a href="/tag/brick" class="www-component-anchor text-decoration-none left" option="body">Brick</a></li>
  <li class="clearfix mb3"><a href="/tag/concrete-alternatives" class="www-component-anchor text-decoration-none left" option="body">Concrete alternatives</a></li>
  <li class="clearfix mb3"><a href="/cat/conventional-sewerage" class="www-component-anchor text-decoration-none left" option="body">Insulating materials</a></li>
  <li class="clearfix mb3"><a href="/tag/building-paints-adhesives" class="www-component-anchor text-decoration-none left" option="body">Paints and adhesives</a></li>
  <li class="clearfix mb3"><a href="/tag/low-voc" class="www-component-anchor text-decoration-none left" option="body">Low VOC Building</a></li>
</ul>

