<ul class="www-component-anchors list-reset m0 p0 px1 caps">
  <li class="clearfix mb3" style="background-image: linear-gradient(30deg,#4a8b12 0,#07126e);color:#fff;border:10px;justify:center;width:100%;"><a href="/cat/transfer" class="www-component-anchor text-decoration-none left" style="margin:5px;" option="body">Wastewater & Sewerage transfer methods</a></li>
  <li class="clearfix mb3"><a href="/cat/no-transfer" class="www-component-anchor text-decoration-none left" option="body">No Transfer</a></li>
  <li class="clearfix mb3"><a href="/cat/small-bore-settled-storage" class="www-component-anchor text-decoration-none left" option="body">small bore / settled storage</a></li>
  <li class="clearfix mb3"><a href="/cat/conventional-sewerage" class="www-component-anchor text-decoration-none left" option="body">conventional sewerage</a></li>
  <li class="clearfix mb3"><a href="/cat/drainage-field" class="www-component-anchor text-decoration-none left" option="body">drainage field</a></li>
</ul>

