<ul class="www-component-anchors list-reset m0 p0 px1 caps">
  <li class="clearfix mb3" style="background-image: linear-gradient(30deg,#4a8b12 0,#07126e);color:#fff;border:10px;justify:center;width:100%;"><a href="/cat/treatment" class="www-component-anchor text-decoration-none left" style="margin:5px;" option="body">Wastewater treatment methods</a></li>
  <li class="clearfix mb3"><a href="/cat/no-treatment" class="www-component-anchor text-decoration-none left" option="body">No Treatment</a></li>
  <li class="clearfix mb3"><a href="/cat/constructed-wetlands" class="www-component-anchor text-decoration-none left" option="body">Constructed Wetlands</a></li>
  <li class="clearfix mb3"><a href="/cat/soil-aquifer-treatment" class="www-component-anchor text-decoration-none left" option="body">Soil Aquifer Treatment</a></li>
  <li class="clearfix mb3"><a href="/cat/oxidation-ditch" class="www-component-anchor text-decoration-none left" option="body">Oxidation ditch</a></li>
  <li class="clearfix mb3"><a href="/cat/roltating-biological-contractor" class="www-component-anchor text-decoration-none left" option="body">rotating biological contractor</a></li>
  <li class="clearfix mb3"><a href="/cat/trickling-filters" class="www-component-anchor text-decoration-none left" option="body">trickling filters</a></li>
  <li class="clearfix mb3"><a href="/cat/activated-sludge-process" class="www-component-anchor text-decoration-none left" option="body">Activated Sludge Process</a></li>
  <li class="clearfix mb3"><a href="/cat/stabilization-ponds" class="www-component-anchor text-decoration-none left" option="body">Stabilization Ponds</a></li>
  <li class="clearfix mb3"><a href="/cat/uv-sterilization" class="www-component-anchor text-decoration-none left" option="body">UV Sterilization</a></li>
</ul>

