<ul class="www-component-anchors list-reset m0 p0 px1 caps">
  <li class="clearfix mb3" style="background-image: linear-gradient(30deg,#4a8b12 0,#07126e);color:#fff;border:10px;justify:center;width:100%;"><a href="/cat/water-treatment" class="www-component-anchor text-decoration-none left" style="margin:5px;" option="body">water treatment methods</a></li>
  <li class="clearfix mb3"><a href="/cat/no-treatment-water-systems" class="www-component-anchor text-decoration-none left" option="body">no treatment water systems</a></li>
  <li class="clearfix mb3"><a href="/cat/chlorination" class="www-component-anchor text-decoration-none left" option="body">Chlorination</a></li>
  <li class="clearfix mb3"><a href="/cat/slow-sand-filter" class="www-component-anchor text-decoration-none left" option="body">Slow sand filter</a></li>
  <li class="clearfix mb3"><a href="/cat/boiling-water" class="www-component-anchor text-decoration-none left" option="body">boiling</a></li>
  <li class="clearfix mb3"><a href="/cat/ultraviolet-light" class="www-component-anchor text-decoration-none left" option="body">Ultraviolet light</a></li>
</ul>
