<ul class="www-component-anchors list-reset m0 p0 px1 caps">
  <li class="clearfix mb3" style="background-image: linear-gradient(30deg,#4a8b12 0,#07126e);color:#fff;border:10px;justify:center;width:100%;"><a href="/cat/storage" class="www-component-anchor text-decoration-none left" style="margin:5px;" option="body">Drinking water storage methods</a></li>
  <li class="clearfix mb3"><a href="/cat/no-storage-water-systems" class="www-component-anchor text-decoration-none left" option="body">no storage water systems</a></li>
  <li class="clearfix mb3"><a href="/cat/barrel-storage" class="www-component-anchor text-decoration-none left" option="body">barrel storage</a></li>
  <li class="clearfix mb3"><a href="/cat/tank-storage" class="www-component-anchor text-decoration-none left" option="body">tank storage</a></li>
  <li class="clearfix mb3"><a href="/cat/reservoir" class="www-component-anchor text-decoration-none left" option="body">reservoir</a></li>
  <li class="clearfix mb3"><a href="/cat/cistern" class="www-component-anchor text-decoration-none left" option="body">cistern</a></li>
</ul>
