<ul class="www-component-anchors list-reset m0 p0 px1 caps">
  <li class="clearfix mb3" style="background-image: linear-gradient(30deg,#4a8b12 0,#07126e);color:#fff;border:10px;justify:center;width:100%;"><a href="/cat/water-sources" class="www-component-anchor text-decoration-none left" style="margin:5px;" option="body">water sourcing methods</a></li>
  <li class="clearfix mb3"><a href="/cat/rooftop-water-harvesting" class="www-component-anchor text-decoration-none left" option="body">Rooftop Water Harvesting</a></li>
  <li class="clearfix mb3"><a href="/cat/ground-level-catchment" class="www-component-anchor text-decoration-none left" option="body">Ground Level Catchment</a></li>
  <li class="clearfix mb3"><a href="/cat/subsurface-dam" class="www-component-anchor text-decoration-none left" option="body">Subsurface Dam</a></li>
  <li class="clearfix mb3"><a href="/cat/surface-water-abstraction" class="www-component-anchor text-decoration-none left" option="body">Surface Water Abstraction</a></li>
  <li class="clearfix mb3"><a href="/cat/spring-water-captation" class="www-component-anchor text-decoration-none left" option="body">Spring Water Captation</a></li>
  <li class="clearfix mb3"><a href="/cat/hand-dug-well" class="www-component-anchor text-decoration-none left" option="body">Hand Dug Well</a></li>
  <li class="clearfix mb3"><a href="/cat/drilled-well" class="www-component-anchor text-decoration-none left" option="body">Drilled Well</a></li>
</ul>
