{{ partial "header.html" . }}
    <header class="www-header">
        <h1 class="mb4 px2 col-12 sm-col-8 mx-auto">{{ .Title }}</h1>
        <span class="h3 block mb4 px2 col-12 sm-col-8 mx-auto">{{ .Params.description }}</span>
        </header>
{{ partial "tag.html" . }}
        <div class="abe-examples flex flex-wrap">
        {{- range .Data.Pages }}
        {{ .Render "li" }}
        {{- end }}
        </div>
                </section>

            </article>
        </main>
    </amp-selector>
{{ partial "footer.html" . }}
