{{ partial "header.html" . }}
    <header class="www-header" style="background-image:url(images/n0.jpg);">
        <h1 class="mb4 px2 col-12 sm-col-8 mx-auto www-component-anchor" style="background-color:#000;transparency:50%;">{{ .Title }}</h1>
 class="www-component-anchor 
        <span class="h3 block mb4 px2 col-12 sm-col-8 mx-auto">{{ .Site.Params.description }}</span>

        </header>


    <amp-selector layout="container">
        <main class="flex pl2">
<script type="text/javascript">
var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || 
{widgetcode:"2a06198e78db20c075bf0fe0faf53bf02f2abc60e276428b23ab12aa4b13ae0f", values:{},ready:function(){}};
var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;
s.src="https://salesiq.zoho.com/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);d.write("<div id='zsiqwidget'></div>");
</script>

  <span class="mb4 px2 col-12 sm-col-8 mx-auto www-component-anchor"
  <ul>
  <li>Waste stream Pyrolysis <a href="https://en.wikipedia.org/wiki/Special:Search?search=waste+stream+pyrolysis&amp;go=Go&amp;ns0=1"><img src="https://en.wikipedia.org/favicon.ico" width="16" height="16" border="0"></a> <a href="https://www.youtube.com/results?search_query=waste+stream+pyrolysis"><img src="https://www.youtube.com/favicon.ico" width="16" height="16" border="0"></a> </li>
<li>Solid and human waste Composting <a href="https://en.wikipedia.org/wiki/Special:Search?search=Solid+and+human+waste+Composting&amp;go=Go&amp;ns0=1"><img src="https://en.wikipedia.org/favicon.ico" width="16" height="16" border="0"></a> <a href="https://www.youtube.com/results?search_query=Solid+and+human+waste+Composting"><img src="https://www.youtube.com/favicon.ico" width="16" height="16" border="0"></a> </li>
<li>Gasefier technology <a href="https://en.wikipedia.org/wiki/Special:Search?search=gasefier+technology&amp;go=Go&amp;ns0=1"><img src="https://en.wikipedia.org/favicon.ico" width="16" height="16" border="0"></a> <a href="https://www.youtube.com/results?search_query=gasefier+technology"><img src="https://www.youtube.com/favicon.ico" width="16" height="16" border="0"></a> </li>
<li>Plastics to compressed products <a href="https://en.wikipedia.org/wiki/Special:Search?search=plastics+to+compressed+products&amp;go=Go&amp;ns0=1"><img src="https://en.wikipedia.org/favicon.ico" width="16" height="16" border="0"></a> <a href="https://www.youtube.com/results?search_query=plastics+to+compressed+products"><img src="https://www.youtube.com/favicon.ico" width="16" height="16" border="0"></a> </li>
<li>Chipped plastics to extruded products <a href="https://en.wikipedia.org/wiki/Special:Search?search=chipped+plastics+to+extreuded+products&amp;go=Go&amp;ns0=1"><img src="https://en.wikipedia.org/favicon.ico" width="16" height="16" border="0"></a> <a href="https://www.youtube.com/results?search_query=chipped+plastics+to+extreuded+products"><img src="https://www.youtube.com/favicon.ico" width="16" height="16" border="0"></a> </li>
<li>Materials transit for sorted recycled materials <a href="https://en.wikipedia.org/wiki/Special:Search?search=materials+transit+for+sorted+recycled+materials&amp;go=Go&amp;ns0=1"><img src="https://en.wikipedia.org/favicon.ico&quot;" width="16" height="16" border="0"></a> <a href="https://www.youtube.com/results?search_query=materials+transit+for+sorted+recycled+materials"><img src="https://www.youtube.com/favicon.ico" width="16" height="16" border="0"></a> </li>
<li>Storage and shipping management for social enterprises <a href="https://en.wikipedia.org/wiki/Special:Search?search=social+enterprise+skills+trainings&amp;go=Go&amp;ns0=1"><img src="https://en.wikipedia.org/favicon.ico" width="16" height="16" border="0"></a> <a href="https://www.youtube.com/results?search_query=social+enterprise+skills+trainings"><img src="https://www.youtube.com/favicon.ico" width="16" height="16" border="0"></a> </li>
<li>Small group plastic sorting business model <a href="https://en.wikipedia.org/wiki/Special:Search?search=Small+group+plastic+sorting+business+model&amp;go=Go&amp;ns0=1"><img src="https://en.wikipedia.org/favicon.ico" width="16" height="16" border="0"></a> <a href="https://www.youtube.com/results?search_query=Small+group+plastic+sorting+business+model"><img src="https://www.youtube.com/results?search_query=small+group+plastic+sorting+business+model" border="0"></a> </li>
<li>Local product creation workshops <a href="https://en.wikipedia.org/wiki/Special:Search?search=Local+product+creation+workshops&amp;go=Go&amp;ns0=1"><img src="https://en.wikipedia.org/favicon.ico" width="16" height="16" border="0"></a> <a href="https://www.youtube.com/results?search_query=Local+product+creation+workshops"><img src="https://www.youtube.com/favicon.ico" width="16" height="16" border="0"></a> </li>
<li>Waste stream derived, repaired, cleaned &amp; remanufactured products <a href="https://en.wikipedia.org/wiki/Special:Search?search=Waste+stream+derived+repaired+cleaned+remanufactured+products&amp;go=Go&amp;ns0=1"><img src="https://en.wikipedia.org/favicon.ico" width="16" height="16" border="0"></a> <a href="https://www.youtube.com/results?search_query=Waste+stream+derived+repaired+cleaned+remanufactured+products"><img src="https://www.youtube.com/favicon.ico" width="16" height="16" border="0"></a> </li>
<li>Social enterprise skills trainings <a href="https://en.wikipedia.org/wiki/Special:Search?search=social+enterprise+skills+trainings&amp;go=Go&amp;ns0=1"><img src="https://en.wikipedia.org/favicon.ico" width="16" height="16" border="0"></a> <a href="https://www.youtube.com/results?search_query=social+enterprise+skills+trainings"><img src="https://www.youtube.com/favicon.ico" width="16" height="16" border="0"></a> </li>
</ul>
  <h2>Other Topics</h2>
<ul>   
<li>Access to cleaner water for my family/ community
</li><li>On-site water / and air filtration systems
</li><li>Reduction of pollutants to air and water supply
</li><li>Abatement of open trash burning
</li><li>Increased recycling in my community
</li><li>Jobs created in the recycling / upcycled product industry
</li><li>Development of Eco-tourism industry
</li><li>Increased community awareness
</li><li>Access to grants and funding for appropriate solutions</li></ul>
            
    <article class="www-components flex-auto col-8">
                <section class="www-component-desc" id="samples_templates">
                    <div class="abe-examples flex flex-wrap">
                      {{- range .Data.Pages }}
                        {{ .Render "li" }}
                      {{- end }}
                    </div>
                </section>
            </article>
        </main>
    </amp-selector>
{{ partial "footer.html" . }}
