{{ partial "header.html" . }}
    <header class="www-header" style="background-image:url(images/n0.jpg);">
        <h1 class="mb4 px2 col-12 sm-col-8 mx-auto" style="background-color:#000;transparency:50%;">{{ .Title }}</h1>

        <span class="h3 block mb4 px2 col-12 sm-col-8 mx-auto">{{ .Site.Params.description }}</span>

        </header>
    <amp-selector layout="container">
        <main class="flex pl2">
            <h2>2021 Water Technology Assessment project is underway</h2>
<script type="text/javascript">
var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || 
{widgetcode:"2a06198e78db20c075bf0fe0faf53bf02f2abc60e276428b23ab12aa4b13ae0f", values:{},ready:function(){}};
var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;
s.src="https://salesiq.zoho.com/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);d.write("<div id='zsiqwidget'></div>");
</script>

       
   
            
            <article class="www-components flex-auto col-8">
                <section class="www-component-desc" id="samples_templates">
                    <div class="abe-examples flex flex-wrap">
                      {{- range .Data.Pages }}
                        {{ .Render "li" }}
                      {{- end }}
                    </div>
                </section>
            </article>
        </main>
    </amp-selector>
{{ partial "footer.html" . }}
